* {
  font-family: "Courier New", Courier, monospace;
}

body {
  background: linear-gradient(rgb(214, 97, 97), rgb(255, 238, 0));
  margin: 0 0;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(6, 4, 3, 0.82);
  overflow-x: hidden;
  transition: 0.5s;
}
.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 10px;
  text-decoration: none;
  font-size: 36px;
  color: #ff0000;
  display: block;
  transition: 0.3s;
}


.overlay a:focus {
  color: #ff0000;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

.reseaux {
  width: 50%;
  display: flex;
  justify-content: space-between;
  margin-top: 20%;
  margin-bottom: 5%;
  padding-left: 25%;
}
.reseaux {
  display: flex;
  justify-content: space-around;
  margin: 35rem 0rem;
}

.reseaux img {
  width: 50px;
}

.header {
  color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header img {
  width: 65px;
}

.photo img {
  height: 50vh;
  width: 100%;
}



main .title {
  background: #ff00007d;
  width: 100%;
  height: 100vh;
  
}
main table {
  margin: 0 auto;
}


main .title h2 {
  text-align: center;
  color: rgb(0, 0, 0);
}


table td {
  text-align: center;
  padding: 10px;
  width: 33%;
}

table img {
  transition: transform 0.3s ease;
  cursor: pointer;
  width: 100%;
}

table img:hover {
  transform: scale(1.2);
}

table p {
  color: rgb(0, 0, 0);
}

#zoomable-image {
  transition: transform 0.3s ease;
}

footer {
  background: rgba(255, 0, 0, 0.415);
}
footer .fotr {
  text-align: center;
  color: rgb(0, 0, 0);
}

footer p {
  text-align: right;
  margin-right: 10%;
  height: 5vh;
  color: rgb(0, 0, 0);
}
.nc a  {
  text-decoration: none;
  color: black;
}






