*{
  font-family: 'Courier New', Courier, monospace;
}


body{
  background: linear-gradient(rgb(214, 97, 97), rgb(255, 238, 0));
  margin: 0 0;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(6, 4, 3, 0.82);
  overflow-x: hidden;
  transition: 0.5s;
}
.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 10px;
  text-decoration: none;
  font-size: 36px;
  color: #ff0000;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #ff0000;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

.reseaux {
  width: 50%;
  display: flex;
  justify-content: space-between;
  margin-top: 20%;
  margin-bottom: 5%;
  padding-left: 25%;
}
.reseaux { 
  display: flex;
  justify-content: space-around;
  margin: 35rem 0rem;
}

.reseaux img{
  width: 50px;
}

.header {
  color:rgb(0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header img{
  width: 65px;

}

.photo img{
  width: 100%;
  height: 50vh;
}

main .title {
  width: 100%;
  height: 120vh;
  text-align: center;
}
 main h2 {
  margin-bottom: 5%;
 }
main table {
 margin: 0 auto;
}


#zoomable-image {
  transition: transform 0.3s ease;
  justify-content: space-between;
}

footer {
  background: rgba(255, 0, 0, 0.415);
  height: 15vh;
  width: 101%;
}

footer .fotr {
  text-align: center;
  color: rgb(0, 0, 0);
  font-size: 23px;
}

footer p {
  text-align: right;
  margin-right: 10%;
  height: 5vh;
  color: rgb(0, 0, 0);
}
.nc a  {
  text-decoration: none;
  color: black;
}
.tableimg{
  width: 100%;
  
}

.tableimg img{
  width: 90%;
  height: 20vh;
}

.tableimg td{
  width: 33%;
}


@media (max-width:800px){

  main .tableimg {
    width: 100vw;
  }
}
