@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200&display=swap");
Body {
  width: 100%;
  height: 100%;
  margin: 0 0;
}

header {
  display: flex;
  background: #b7b7a4;
  width: 100%;
  height: 5rem;
}

#titre {
  color: rgb(0, 0, 0);
  justify-content: center;
  display: flex;
  position: absolute;
  margin: 6% 41%;
}
.item1 {
  width: 20px;
  height: 20px;
  margin: 5% 0 0 5%;
}

.item2 {
  width: 20px;
  height: 20px;
}
.burger {
  border: none;
  background: none;
}
nav {
  display: flex;
  /* height: 15vh; */
  width: 100vw;
  justify-content: space-between;
  margin: 0%;
  align-items: center;
  background-color: beige;

}
nav li a {
  display: flex;
  justify-content: space-between;
  text-align: center;
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-family: ;
}

.img1{
  width: 50%;
}
.img1 img{
  width: 100vw;
  height: 40vh;
  

}

.img2{
  width: 50vw;
  height: 40vh;
}
.img2 img {
  width: 50vw;
  height: 36.2vh;
  margin: 0% 0%;
  visibility: hidden;

}

nav li {
  display: block;
  justify-content: space-between;
  text-decoration: none;
  font-size: 20px;
  text-align: center;
}
.container{
  display: block;
  justify-content: space-between;
  width: 100vw;
  background-color: #e3e3bf;
  height: 32vh;
  margin: 0%;
}

.container0{
  margin: -3% 0%;
  display: flex;
  justify-content: space-between;
  width: 100vw;
  background-color: #baba95;
  height: 40vh;
}

.container2 {
  Display: flex;
  justify-content: space-between;
  width: 100vw;
  background-color: #989876;
  height: 40vh;
  flex-direction: row-reverse;
    
  }
.banner {
  text-align: center;
    /* background: #b7b7a4; */
    padding: 5% 0 5% 0;
    margin: 0%;
}
.banner2 {
  text-align: center;
  /* background: #e3e3bf; */
  padding: 5% 0 5% 0;
  margin: -5% 0 0% 0;
}

  .banner3 {
    text-align: center;
    padding: 5% 0%;
    margin: 0;
    width: 50vw;
    height: fit-content;
    color: white;
    display: block;
  }

    button.panier {
      display: flex;
      border: none;
      background: none;
      width: 30vw;
      height: 30vh;
      position: absolute;
      margin: 3% 64%;
  }

footer{
  background: grey;
  margin: 15% 0% 0% 0%;
  width: 100vw;
  height: 15vh
}

.foot{
  text-align: center;
  /* background: grey; */
  color: white;
  margin: 5% 0%;
}

.voirplus {
  border-radius: 25px;
  color: grey;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

.modal {
  width: fit-content;
  height: fit-content;
  background: #FFFFFF;
  box-shadow: 0px 187px 75px rgba(0, 0, 0, 0.01), 0px 105px 63px rgba(0, 0, 0, 0.05), 0px 47px 47px rgba(0, 0, 0, 0.09), 0px 12px 26px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
  border-radius: 26px;
  max-width: 450px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

.payment--options {
  width: calc(100% - 40px);
  display: grid;
  grid-template-columns: 33% 34% 33%;
  gap: 20px;
  padding: 10px;
}

.payment--options button {
  height: 55px;
  background: #F2F2F2;
  border-radius: 11px;
  padding: 0;
  border: 0;
  outline: none;
}

.payment--options button svg {
  height: 18px;
}

.payment--options button:last-child svg {
  height: 22px;
}

.separator {
  width: calc(100% - 20px);
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 10px;
  color: #8B8E98;
  margin: 0 10px;
}

.separator > p {
  word-break: keep-all;
  display: block;
  text-align: center;
  font-weight: 600;
  font-size: 11px;
  margin: auto;
}

.separator .line {
  display: inline-block;
  width: 100%;
  height: 1px;
  border: 0;
  background-color: #e8e8e8;
  margin: auto;
}

.credit-card-info--form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.input_container {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.split {
  display: grid;
  grid-template-columns: 4fr 2fr;
  gap: 15px;
}

.split input {
  width: 100%;
}

.input_label {
  font-size: 10px;
  color: #8B8E98;
  font-weight: 600;
}

.input_field {
  width: auto;
  height: 40px;
  padding: 0 0 0 16px;
  border-radius: 9px;
  outline: none;
  background-color: #F2F2F2;
  border: 1px solid #e5e5e500;
  transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
}

.input_field:focus {
  border: 1px solid transparent;
  box-shadow: 0px 0px 0px 2px #242424;
  background-color: transparent;
}

.purchase--btn {
  height: 55px;
  background: #F2F2F2;
  border-radius: 11px;
  border: 0;
  outline: none;
  color: #ffffff;
  font-size: 13px;
  font-weight: 700;
  background: linear-gradient(180deg, #363636 0%, #1B1B1B 50%, #000000 100%);
  box-shadow: 0px 0px 0px 0px #FFFFFF, 0px 0px 0px 0px #000000;
  transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
}

.purchase--btn:hover {
  box-shadow: 0px 0px 0px 2px #FFFFFF, 0px 0px 0px 4px #0000003a;
}

/* Reset input number styles */
.input_field::-webkit-outer-spin-button,
.input_field::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input_field[type=number] {
  -moz-appearance: textfield;
}
.formulaire {
  display: flex;
  justify-content: center;
  margin: 10% 0%;
}
/*Loader*/
#loader-fullscreen{
  background-color: #6B705C;
  height: 100vh;
  width: 100vw;
  position: relative;
}

#loader-titre{
  position: absolute;
  top: 30%;
  left: 50%;
  font-size: 3em;
  transform: translateX(-50%) translateY(-50%);
}

#loader {
  
  width: 120px;
  height: 120px;
  border: 8px solid black;
  border-radius: 50%;
  border-top: 8px solid #6B705C;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

#loader-conteneur{
  position: absolute;
  left: 50%;
  top: 45%;
  transform: translateX(-50%);
}

#loader-redirection{
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}


        @media screen and (min-width: 475px) {
          Body {
            width: 100%;
            height: 100%;
            margin: 0 0;
          }

          header {
            display: flex;
            background: #b7b7a4;
            width: 100%;
            height: 5rem;
          }

          #titre {
            color: rgb(0, 0, 0);
            justify-content: center;
            display: flex;
            position: absolute;
            margin: 4% 46%;
          }
          .item1 {
            width: 20px;
            height: 20px;
            margin: 5% 0 0 5%;
          }

  .item2 {
    width: 20px;
    height: 20px;
  }
  .burger {
    border: none;
    background: none;
  }
  
    nav {
      display: flex;
      /* height: 15vh; */
    
      justify-content: space-between;
      margin: 0%;
      align-items: center;
      background-color: beige;
  }
  
  nav li a {
    display: flex;
    justify-content: space-between;
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: ;
  }

  nav li {
    display: block;
    justify-content: space-between;
    text-decoration: none;
    font-size: 20px;
    text-align: center;
  }
  
  .container{
    display: flex;
    justify-content: space-between;
    width: 100vw;
    background-color: #e3e3bf;
    height: 40vh;
  }
  .container0{
    margin: -3% 0%;
    display: flex;
    justify-content: space-between;
    width: 100vw;
    background-color: #baba95;
    height: 40vh;

  }
.container2 {
  Display: flex;
  justify-content: space-between;
  width: 100vw;
  background-color: #989876;
  height: 36vh;
  flex-direction: row-reverse;
  }

  button.panier {
    width: 20px;
    height: 20px;
    position: absolute;
    justify-content: end;
    align-items: flex-end;
    margin: 4% 96%;
}


  .overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
  }
  
  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
  
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .overlay a:hover,
  .overlay a:focus {
    color: #f1f1f1;
  }
  
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }
}

@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px;
  }
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
  .modal {
    width: fit-content;
    height: fit-content;
    background: #FFFFFF;
    box-shadow: 0px 187px 75px rgba(0, 0, 0, 0.01), 0px 105px 63px rgba(0, 0, 0, 0.05), 0px 47px 47px rgba(0, 0, 0, 0.09), 0px 12px 26px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
    border-radius: 26px;
    max-width: 450px;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
  }
  
  .payment--options {
    width: calc(100% - 40px);
    display: grid;
    grid-template-columns: 33% 34% 33%;
    gap: 20px;
    padding: 10px;
  }
  
  .payment--options button {
    height: 55px;
    background: #F2F2F2;
    border-radius: 11px;
    padding: 0;
    border: 0;
    outline: none;
  }
  
  .payment--options button svg {
    height: 18px;
  }
  
  .payment--options button:last-child svg {
    height: 22px;
  }
  
  .separator {
    width: calc(100% - 20px);
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 10px;
    color: #8B8E98;
    margin: 0 10px;
  }
  
  .separator > p {
    word-break: keep-all;
    display: block;
    text-align: center;
    font-weight: 600;
    font-size: 11px;
    margin: auto;
  }
  
  .separator .line {
    display: inline-block;
    width: 100%;
    height: 1px;
    border: 0;
    background-color: #e8e8e8;
    margin: auto;
  }
  
  .credit-card-info--form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .input_container {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  
  .split {
    display: grid;
    grid-template-columns: 4fr 2fr;
    gap: 15px;
  }
  
  .split input {
    width: 100%;
  }
  
  .input_label {
    font-size: 10px;
    color: #8B8E98;
    font-weight: 600;
  }
  
  .input_field {
    width: auto;
    height: 40px;
    padding: 0 0 0 16px;
    border-radius: 9px;
    outline: none;
    background-color: #F2F2F2;
    border: 1px solid #e5e5e500;
    transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
  }
  
  .input_field:focus {
    border: 1px solid transparent;
    box-shadow: 0px 0px 0px 2px #242424;
    background-color: transparent;
  }
  
  .purchase--btn {
    height: 55px;
    background: #F2F2F2;
    border-radius: 11px;
    border: 0;
    outline: none;
    color: #ffffff;
    font-size: 13px;
    font-weight: 700;
    background: linear-gradient(180deg, #363636 0%, #1B1B1B 50%, #000000 100%);
    box-shadow: 0px 0px 0px 0px #FFFFFF, 0px 0px 0px 0px #000000;
    transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
  }
  
  .purchase--btn:hover {
    box-shadow: 0px 0px 0px 2px #FFFFFF, 0px 0px 0px 4px #0000003a;
  }
  
  /* Reset input number styles */
  .input_field::-webkit-outer-spin-button,
  .input_field::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  
  .input_field[type=number] {
    -moz-appearance: textfield;
  }
  .formulaire {
    display: flex;
    justify-content: center;
    margin: 10% 0%;
}
}
